{% comment %}
  Renders a list of product's price (regular, sale)

  Accepts:
  - product: {Object} Product Liquid object (optional)
  - placeholder: {Boolean} Renders a placeholder price (optional)
  - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
  - show_badges: {Boolean} Renders 'Sale' and 'Sold Out' tags if the product matches the condition (optional)
  - price_class: {String} Adds a price class to the price element (optional)
  - show_compare_at_price: {Boolean} Renders the compare at price if the product matches the condition (optional)
  - show_discounts_price: {Boolean} Show the discounts define in the product's metafields. Default: false (optional)

  Usage:
  {% render 'price', product: product %}
{% endcomment %}
{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  elsif placeholder
    assign target = null
  else
    assign target = product
  endif
  assign discount_amount  = product.metafields.custom.discount.value[0] | default: 0
  assign discount_amount_100 = discount_amount | times: 100
  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign price_min = product.price_min
  assign price_max = product.price_max
  assign available = target.available | default: false
  assign money_price = price | money
  assign money_price_min = price_min | money
  assign money_price_max = price_max | money
  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
    assign money_price_min = price_min | money_with_currency
    assign money_price_max = price_max | money_with_currency
  endif

  if target == product and product.price_varies
    assign money_price = 'products.product.from_text_html' | t: price: money_price
  endif
-%}

{%- unless target == null and placeholder == null -%}
  <div
    class="
      price
      {%- if price_class %} {{ price_class }}{% endif -%}
      {%- if available == false %} price--sold-out{% endif -%}
      {%- if compare_at_price > price %} price--on-sale{% endif -%}
      {%- if compare_at_price > price and product.quantity_price_breaks_configured? != true %} price--on-sale{% endif -%}
      {%- if compare_at_price > price and product.quantity_price_breaks_configured? %} volume-pricing--sale-badge{% endif -%}
      {%- if product.price_varies == false and product.compare_at_price_varies %} price--no-compare{% endif -%}
      {%- if show_badges %} price--show-badge{% endif -%}
    "
  >
    <div class="price__container">
      {%- comment -%}
        Explanation of description list:
          - div.price__regular: Displayed when there are no variants on sale
          - div.price__sale: Displayed when a variant is a sale
           <span class="price__badge price__badge--custom-sale" style="background: {{ sale_badge_bg_color }}; color: {{ sale_badge_text_color }}">
              {{ price |  minus: discount_amount_100 |  money}}
            </span>
      {%- endcomment -%}
      <div class="price__badges">
        {%- if available == false -%}
          <span class="price__badge price__badge--sold-out">
            {{- 'products.product.sold_out' | t -}}
          </span>
        {%- elsif compare_at_price > price -%}
          <span class="price__badge price__badge--sale">
            {{- 'products.product.on_sale' | t -}}
          </span>
        {%- endif -%}
        {%- if enable_custom_sale and custom_sale_price < price -%}
          <span class="price__badge price__badge--custom-sale" style="background: {{ sale_badge_bg_color }}; color: {{ sale_badge_text_color }}">
            {{- sale_badge_text -}}
          </span>
        {%- endif -%}
      </div>
      <div class="price__regular">
        {%- if enable_custom_sale and custom_sale_price < price -%}
          <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
          <span class="" style="text-decoration: line-through;">
            {{ money_price  }}
          </span>
          <span class="" style="color: {{ sale_price_color }}; font-weight: bold;">
             {{ custom_sale_price | money }} EUR
          </span>
        {%- elsif enable_custom_sale and custom_sale_price <= 0 -%}
          <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
          <span class="" style="text-decoration: line-through;">
            {{ money_price  }}
          </span>
          <span class="" style="color: {{ sale_price_color }}; font-weight: bold;">
            {{ price |  minus: discount_amount_100 | money_with_currency }}
          </span>
        {%  elsif show_discounts_price == true and discount_amount_100 > 0  %}  
          <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
          <span class="" style="color: red; font-weight: 500;">
             {{ price |  minus: discount_amount_100 | money_with_currency }}
          </span>
          <span class="" style="text-decoration: line-through;">
            {{ money_price  }}
          </span>
        {%- else -%}
          <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
          <span class="price-item price-item--regular">
            {{ money_price }}
          </span>
        {%- endif -%}
      </div>
      <div class="price__sale">
        {%- unless product.price_varies == false and product.compare_at_price_varies -%}
          <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
          <span class="price-item price-item--regular">
            {{ compare_at_price | money }}
          </span>
        {%- endunless -%}
        <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
        <span class="price-item price-item--sale">
          {{ money_price }}
        </span>
      </div>
      <small class="unit-price caption{% if product.selected_or_first_available_variant.unit_price_measurement == nil %} hidden{% endif %}">
        <span class="visually-hidden">{{ 'products.product.unit_price_label' | t }}</span>
        {{ product.selected_or_first_available_variant.unit_price | money }}
        <span aria-hidden="true">/</span>
        <span class="visually-hidden">{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
        {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
          {{- product.selected_or_first_available_variant.unit_price_measurement.reference_value -}}
        {%- endif -%}
        {{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}
      </small>
    </div>
  </div>
{% endunless %}
